.icon-heart {
  color: gray;
  display: flex;
  font-size: 20px;
  justify-content: flex-end;
  padding-right: 5px;
  padding-top: 5px;
  position: absolute;
  width: 200px;
}

.icon-heart button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  outline: none;
  width: 30px;
}
