* {
  box-sizing: border-box;
  color: rgb(94, 94, 94);
  font-family: Lato, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
}

.card-container {
  height: 360px;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 10px 0 10px;
  margin-bottom: 40px;
}

.card-product {
  align-content: space-between;
  align-items: center;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  background: white;
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: flex-start;
  width: 240px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.card-black-div {
  position: absolute;
  align-self: flex-end;
  width: 50px;
  display: flex;
  justify-content: flex-end;
}

.card-black {
  margin-top: 100px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 0;
}

.link-product-detail {
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.thumbnail {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 10px;
  max-width: 200px;
  max-height: 150px;
  z-index: 1;
}

.card-title,
.card-price {
  padding: 0 5px;
  text-align: center;
}

.card-title h4 {
  font-size: 14px;
  margin-bottom: 10px;
}

.card-discount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.card-discount-value {
  color: rgba(128, 128, 128, 0.734);
  font-size: 11px;
  text-decoration-line: line-through;
  margin-right: 10px;
}

.card-discount-percent {
  font-size: 12px;
  background-color: #f79452d3;
  padding: 3px 8px;
  border-radius: 3px;
  color: white;
  font-style: normal;
  font-weight: 400;
}

.card-partner {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 10px;
}

.card-partner-title {
  font-size: 11px;
  font-weight: bold;
  margin-right: 6px;
}

.card-partner-destak {
  display: flex;
  align-items: baseline;
}

.card-partner-coin,
.card-partner-value,
.card-partner-cents {
  color: #C81A78;
  font-weight: 700;
  font-family: Open Sans, sans-serif;
  margin-right: 3px;
}

.card-partner-value {
  margin-right: 0;
  font-size: 28px;
}

.card-partner-nopartner {
  font-size: 11px;
  color: rgba(128, 128, 128, 0.734);
  font-weight: 600;
  font-family: Open Sans, sans-serif;
  margin-right: 3px;
}

.card-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

.add-to-cart {
  align-items: center;
  background-color: #7EBC43;
  color: white;
  border-radius: 4px;
  display: flex;
  font-size: 10px;
  height: 40px;
  justify-content: center;
  margin-bottom: 5px;
  padding: 10px;
  width: 240px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border:none;
}