.cards-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 220px;
  padding-bottom: 20px;
  height:100%;
}

.quantity-searched {
  padding-left: 20px;
  align-items: center;
}

.quantity-searched,
.quantity-searched .quantity {
  width: 100%;
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #262626;

}

.quantity-searched .quantity {
  font-weight: 700;
  color: #262626
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:fit-content;
  margin-top: 30px;
}

.pagination ul {
  display: flex;
  align-items: center;
  width:fit-content;
  flex-wrap: wrap;
}

.pagination li {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.pagination .pageButton{
  background-color:white !important;
  border:1px solid #C81A78 !important;
  height: 30px !important;
  width: 30px !important;
  color: #C81A78 !important;
  font-weight: normal !important;
  font-family: 'Lato', sans-serif !important;
}

.pagination .activeButton {
  background-color: #C81A78 !important;
  color: white !important;
}

.pagination svg path{
  fill: #C81A78 !important;
}
