body {
  box-sizing: border-box;
  color: rgb(94, 94, 94);
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
  background-color:rgba(215, 215, 215, 0.088);
}

::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}
