body {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
  background-color:rgba(215, 215, 215, 0.088);
}

.home-container{
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}
