* {
  box-sizing: border-box;
  color: rgb(94, 94, 94);
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
}

.div-emphasis-title {
  background-color: rgba(230, 230, 230, 0.466);
  border-radius: 5px;
  padding: 30px;
  position: absolute;
  text-align: center;
  width: 80%;
}

.emphasis-title {
  background-color: #ffc8dd;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 4px;
  line-height: 50px;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  word-wrap: break-word;
}

.div-emphasis-subtitle {
  font-size: 18px;
  padding: 15px 15px 40px 15px;
}

.emphasis-subtitle {
  font-weight: bold;
}

.div-emphasis-image-0,
.div-emphasis-image-1,
.div-emphasis-image-2,
.div-emphasis-image-3 {
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 90vh;
}

.div-emphasis-image-0 {
  background-image: url("../../../images/products/banner-top-geleia-de-frutas-silvestres-240g.jpeg");
}

.div-emphasis-image-1 {
  background-image: url("../../../images/products/banner-top-geleia-de-morango-240g.jpeg");
}

.div-emphasis-image-2 {
  background-image: url("../../../images/products/banner-top-geleia-de-manga-com-pimenta-240g.jpeg");
}

.div-emphasis-image-3 {
  background-image: url("../../../images/products/banner-top-geleia-de-pimenta-240g.jpeg");
}

.emphasis-image {
  width: 100%;
}