.simple-footer {
  background-color: white;
  color: rgb(94, 94, 94);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 100px;
  font-size: 24px;
  margin: 0 20px;
  padding: 0;
}

.social-media a:hover {
  background-color:transparent;
}

.icon-social-media {
  color: rgb(94, 94, 94);
  margin: 0 10px;
}
