/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap'); */

@font-face {
  font-family: 'NeoSansStdRegular';
  font-style: normal;
  font-weight: 400;
  src: local('NeoSansStdRegular'), url('../src/fonts/NeoSansStdRegular.otf') format('opentype');
}
